
@{
    ViewBag.Title = "TLChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
    google.load("visualization", "1", { packages: ["orgchart"] });
</script>


<script type="text/javascript">
    $(function () {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '@Url.Action("TLOrgChart")',
            data: '{}',
            success: function (chartsdata) {

                // Callback that creates and populates a data table,
                // instantiates the pie chart, passes in the data and
                // draws it.
                var data = new google.visualization.DataTable();

                data.addColumn('string', 'EmpName');
                data.addColumn('string', 'TeamLeaderName');


                for (var i = 0; i < chartsdata.length; i++) {
                    data.addRow([chartsdata[i].EmpName, chartsdata[i].TeamLeaderName]);
                }

                //Instantiate and draw our chart, passing in some options
                var chart = new google.visualization.OrgChart(document.getElementById('chartdiv'));



                chart.draw(data, { allowHtml: true });

            },
            error: function () {
                alert("Error loading data! Please try again.");
            }
        });
    })

</script>


<h2>TL Employee's TL Chart</h2>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/Charts/Index">DR Filled</a></li>
    <li role="presentation" class="active"><a href="/Charts/TLChart">Employee's TL </a></li>
    @*<li role="presentation"><a href="#">Messages</a></li>*@
</ul>

<br />


<div id="chartdiv" style="width: 1000px; height: 1050px;">
</div>  